html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
*, *::before, *::after {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    margin: 0 auto;
    color: #000;
}


header{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em 0 5em;
}
header span {
    color: #ffffff;
    font-size: 2em;
}


nav ul {
    list-style: none;
    padding: 0;
    text-align: end;
}
nav ul li {
    display: inline-block;
    padding: 0.5em 1.5em;
    font-size: 1em;
}


.herobanner {
    width: 100%;
}


a.button {
    text-decoration: none;
    color: #ffffff;
}
a.button:hover {
    text-decoration: none;
    color: #ffffff;
}
a.button:visited {
    text-decoration: none;
    color: #ffffff;
}
a.button:focus {
    text-decoration: none;
    color: #ffffff;
}


h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}


.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2em 0 2em;
}


#aboutme {
    display: flex;
    align-items: center;
}
#aboutme img {
    max-height: 700px;
}


#services {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 3em 0 8em 0;
}
#services h2 {
    text-align: center;
    padding: 0;
}
#services h3 {
    margin-top: 0;
}
.service-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 15em;
    padding: 1em 2em 0 2em;
}
.logo-box {
    box-sizing: border-box;
    margin: .5em;
    padding: 1em;
    border-radius: 0.125rem;
    background-color: #ffffff;
}
.web-box {
    box-sizing: border-box;
    margin: .5em;
    padding: 1em;
    border-radius: 0.125rem;
    background-color: #ffffff;
}
.brand-box {
    box-sizing: border-box;
    margin: .5em;
    padding: 1em;
    border-radius: 0.125rem;
    background-color: #ffffff;
}
#services a {
    box-sizing: border-box;
    background-color: #000;
    color: #ffffff;
    font-size: small;
    padding: .5em 1em .5em 1em;
    border-radius: .5em;
}
a.button2 {
    text-decoration: none;
    color: #ffffff;
}
a.button2:hover {
    text-decoration: none;
    color: #ffffff;
}
a.button2:visited {
    text-decoration: none;
    color: #ffffff;
}
a.button2:focus {
    text-decoration: none;
    color: #ffffff;
}
    

#mywork {
    text-align: center;
    padding: 4em 0 6em 0;
}
#mywork p {
    padding: 0 15em 2em 15em
}
.line1, .line2 {
    display: flex;
}


#quotes {
    background-color: #000;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 4em 0 1em 0;
}
#quotes h2 {
    text-align: center;
    padding: 0;
}

.quote-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    height: 15em;
    padding: 0 3em 0 3em;
}
.quote1 {
    box-sizing: border-box;
    padding: 0 2em 0 2em;
    font-style: italic;
}
.quote2 {
    box-sizing: border-box;
    padding: 0 2em 0 2em;
    font-style: italic;
}
.quote-box cite {
    box-sizing: border-box;
    color: lightgrey;
    font-size: .9em; 
    font-style: normal;
    padding: .5em .5em .5em 1em;
}

#contactme {
    text-align: center;
    padding: 3em 13em 0 13em;
}
#contactme p {
    padding: 0 5em 0 5em;
}
#contactme img {
    flex-wrap: wrap;
    max-width: 30px;
    align-items: center;
    padding: 1em 0 7em 0;
}

footer {
    text-align: center;
    background-color: #000;
    color: white;
    margin: 0 0 0 0;
    padding: 10px 0 10px 0;
}